* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-blue: #4785AB;
	--text-color-dark: #0A0F24;
	--button-color-light: #FFF6D9;
	--text-container-background: rgba(253, 244, 242, 0.7);
	--progress-bar-background: rgba(253, 244, 242, 1);
	--input-border-color: #BFBFBF;
}

body {
	background-image: linear-gradient(to bottom right,
			rgba(71, 133, 171, 0) 30%,
			rgba(71, 133, 171, 0.3) 40%,
			rgba(71, 133, 171, 0.5) 60%,
			rgba(71, 133, 171, 1) 100%),
		url(/images/hero-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}