* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-blue: hsl(203, 41%, 47%);
	--text-color-dark: #0A0F24;
	--text-color-light: #FFF6D9;
	--button-color-light: #FDC8B6;
	--button-border-coral: #fd7e54;
	--text-container-background: rgba(250, 238, 233, 0.7);
	--progress-bar-background: rgba(253, 244, 242, 1);
	--input-border-color: #BFBFBF;
}