* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--background-blue: #4785AB;
	--text-color-dark: #0A0F24;
	--button-color-light: #FFF6D9;
	--text-container-background: rgba(253, 244, 242, 0.7);
	--progress-bar-background: rgba(253, 244, 242, 1);
	--input-border-color: #BFBFBF;
}