.header {
	height: 100vh;
	width: 100%;
	/* height: 100%; */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr 1fr 2fr 2fr;
	grid-template-areas:
		"h1"
		"h2"
		"h3"
		"seminars"
		"sign-up";
}

.header__h1,
.header__h2,
.header__h3 {
	font-size: 2em;
	color: var(--text-color-dark);
	text-align: center;
}

.header__h1 {
	grid-area: h1;
	align-self: flex-end;
}

.header__h2 {
	grid-area: h2;
	align-self: center;
}

.header__span {
	grid-area: h3;

}

.header__h3 {
	font-size: 1.2em;
}

.header__button {
	/* margin-bottom: 3em; */
	font-size: 1.2em;
	/* margin: 1em 0; */
	padding: 0.5em 1em;
	background-color: var(--button-color-light);
	/* border: 2px solid var(--button-border-coral); */
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	border-radius: 2em;
	text-decoration: none;
	color: var(--text-color-dark);
	max-width: 7em;
	justify-self: center;
	text-align: center;
	max-height: 2.5em;
}

.header__button:focus {
	box-shadow: inset 0 0 0 2em var(--button-border-coral);
	transition: 0.25s;
	color: var(--text-color-light);
}

.header__button--left {
	grid-area: seminars;
	align-self: center;
}

.header__button--right {
	grid-area: sign-up;
	align-self: start;
}


@media screen and (min-width: 350px) and (max-width: 599px) {

	.header__h1,
	.header__h2 {
		font-size: 3em;
	}

	.header__h3 {
		font-size: 1.4em;
	}
}

@media screen and (min-width: 600px) {
	.header {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 2fr 1fr 1fr 1fr;
		grid-template-areas:
			". ."
			"h1 h2"
			". h3"
			"seminars sign-up";
	}

	.header__h1 {
		font-size: 3em;
		margin-bottom: 1em;
		grid-column: 1;
		align-self: flex-start;
	}

	.header__h2 {
		font-size: 3em;
		align-self: center;
	}

	.header__h2,
	.header__span {
		grid-column: 2;
	}

	.header__h2,
	.header__h3 {
		color: var(--text-color-light);
	}

	.header__span {
		display: flex;
		gap: 1em;
		justify-self: center;
		align-self: flex-start;
	}

	.header__h3 {
		font-size: 1.2em;
	}

	.header__button {
		margin: 0 2em;
	}

	.header__button--left {
		grid-column: 1;
		align-self: flex-start;
		justify-self: flex-end;
	}

	.header__button--right {
		grid-column: 2;
		align-self: flex-start;
		justify-self: flex-start;
	}
}

@media screen and (min-width: 900px) {

	.header__h1,
	.header__h2 {
		font-size: 4em;
	}

	.header__h3 {
		font-size: 2em;
	}

	.header__span {
		display: flex;
		gap: 1em;
		justify-self: center;
	}

	.header__button {
		font-size: 1.4em;
		padding: 0.5em 1em;
	}
}

@media screen and (min-width: 1200px) {
	.header__button:hover {
		box-shadow: inset 0 0 0 2em var(--button-border-coral);
		transition: 0.5s;
		color: var(--text-color-light);
	}

}