body {
	background-image: linear-gradient(to bottom right,
			rgba(71, 133, 171, 0) 30%,
			rgba(71, 133, 171, 0.3) 40%,
			rgba(71, 133, 171, 0.5) 60%,
			rgba(71, 133, 171, 1) 100%),
		url(/images/hero-image.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
	color: var(--text-color-dark);
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 7em 17em 16em 16em minmax(60em 95em);
	grid-template-areas:
		"main-heading"
		"what"
		"where"
		"when"
		"seminar-slider";
	/* "sign-up-bottom"; */
	gap: 2em
}

.main-heading {
	grid-area: main-heading;
	/* margin-top: 3em; */
	font-size: 1.3em;
	align-self: center;
	justify-self: center;
	margin: 0 1em;
}

.information-container {
	background-color: var(--text-container-background);
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	border-radius: 1em;
	padding: 1em;
}

.information-container>h4 {
	text-align: center;
	font-size: 1.2em;
}

.information-container>p {
	text-align: center;
	/* font-size: 1em; */
	margin: 0.5em 0;
}

.what,
.where,
.when {
	align-self: flex-start;
	justify-self: center;
}

.what {
	grid-area: what;
	flex-shrink: 1;
	max-width: 25em;
}

.where {
	grid-area: where;
	flex-shrink: 1;
	max-width: 25em;
}

.when {
	grid-area: when;
	flex-shrink: 1;
	max-width: 25em;
}

.time-and-place {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

.sign-up-bottom {
	margin: 3em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.sign-up-bottom>h6 {
	font-size: 1.2em;
	margin: 0.5em 1em;
}

.sign-up-bottom>a {
	font-size: 1.2em;
	text-decoration: none;
	background-color: var(--button-color-light);
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	padding: 0.5em 1em;
	color: var(--text-color-dark);
	max-width: 7em;
	text-align: center;
	max-height: 2.5em;
	border-radius: 2em;
}


@media screen and (min-width: 800px) {
	main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7em 11em 14em minmax(60em 95em);
		;
		grid-template-areas:
			"main-heading main-heading"
			"what what"
			"where when"
			"seminar-slider seminar-slider";
		/* "sign-up-bottom sign-up-bottom"; */
		gap: 2em;
	}

	.main-heading {
		font-size: 1.9em;
		margin-top: 2em;
	}

	.information-container>h4 {
		font-size: 1.5em;
	}

	.what {
		max-width: 52em;
		margin: 0 2em 0 2em;

	}

	.where {
		justify-self: flex-end;
		margin-left: 2em;
	}

	.when {
		justify-self: flex-start;
		margin-right: 2em;
	}

	.sign-up-bottom>h6 {
		font-size: 1.5em;
	}

	.sign-up-bottom>a {
		font-size: 1.4em;
	}
}


@media screen and (min-width: 881px) {
	main {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 7em 11em 14em minmax(60em 95em);
		grid-template-areas:
			"main-heading main-heading"
			"what what"
			"where when"
			"seminar-slider seminar-slider";
		/* "sign-up-bottom sign-up-bottom"; */
		gap: 2em;
	}

}

@media screen and (min-width: 1410px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 10em 20em minmax(60em 95em);
		grid-template-areas:
			"main-heading main-heading main-heading"
			"what when where"
			"seminar-slider seminar-slider seminar-slider";
		/* "sign-up-bottom sign-up-bottom sign-up-bottom"; */
		gap: 2em;
	}

	.main-heading {
		font-size: 2.1em;
		margin: 2em 0;
	}

	.information-container>h4 {
		text-align: center;
		font-size: 1.5em;
	}

	.information-container>p {
		font-size: 1.2em;
	}

	.what,
	.where,
	.when {
		margin: 0;
		padding: 1.5em;
	}

	.when {
		justify-self: center;
	}

	.where {
		margin: 0;
		justify-self: flex-start;
	}

	.what {
		max-width: 25em;
		justify-self: flex-end;
	}

}