body {
	color: var(--text-color-dark);
	background-image:
		url(/images/registration-background.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
}

.main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.main__heading {
	margin: 2em 2em;
	font-size: 1.1em;
}

.form {
	background-color: var(--text-container-background);
	border-radius: 1em;
	min-height: 15em;
	display: flex;
	flex-direction: column;
	padding: 2em;
	margin-bottom: 3em;
}

.form__day {
	font-size: 1.1em;
}

.form__day--margin {
	margin-top: 1.5em;
}

.form__input {
	margin-bottom: 1em;
	border: 1px solid var(--input-border-color);
	padding: 0.5em;
	font-size: 0.9em;
}

.form__input:invalid {
	background-color: rgb(255, 214, 214);
}

.form__required-star {
	margin-left: 0.2em;
	color: red;
}

.form__price {
	margin-left: 1em;
	font-weight: bold;
}

.form__name,
.form__zip-and-city {
	display: flex;
	flex-direction: column;
	/* justify-content: space-between; */
	/* gap: 1em; */
	/* flex-wrap: wrap; */
}

.form__group {
	display: flex;
	flex-direction: column;
}

/* .form__input--zip {
	flex-grow: 1;
}

.form__input--city {
	flex-grow: 2;
} */

.form__buy-pass {
	margin: 2em 0 1em 0;
	text-align: center;
}

.form__buy-container {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 100%;
	position: relative;
}

.form__buy-section {
	display: flex;
	align-items: flex-start;
	margin-top: 1.5em;

}

.form__buy-section--one {
	flex-direction: column;
}

.form__choice--one {
	margin-bottom: 1em;
	display: flex;
	align-items: center;
	margin: 0.25em 0;
}

.form__buy-choice {
	display: flex;
	align-items: center;
	margin: 0.25em 0;
}

.form__input--radio,
.form__input--checkbox {
	margin: 0;
	cursor: pointer;
}

.form__label--radio,
.form__label--checkbox {
	margin-left: 1em;
}

/* .form__day-section {
	visibility: hidden;
} */

.form__input--one:checked+.form__day-section {
	visibility: visible;
}

.form__allergies {
	margin-top: 2em;
}

.form__radio {
	margin: 0.4em 0;
}

.form__button {
	background-color: var(--background-blue);
	color: var(--text-color-light);
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	border-style: none;
	padding: 1em 2em;
	max-width: 13em;
	border-radius: 2em;
	align-self: center;
	margin-top: 2em;
	font-size: 1em;
	text-align: center;
	cursor: pointer;
}


@media screen and (min-width: 500px) {
	.main__heading {
		font-size: 1.3em;
	}

	.form {
		min-width: 30em;
	}

	.form__input {
		font-size: 1em;
	}

	.form__label {
		font-size: 1.1em;
	}

	.form__name,
	.form__zip-and-city {
		flex-direction: row;
		gap: 1em;
	}

	.form__buy-pass {
		font-size: 1.1em;
	}

	.form__allergies {
		font-size: 1.1em;
	}
}

@media screen and (min-width: 900px) {

	.main__heading {
		font-size: 1.5em;
	}

	.form__day {
		font-size: 1.2em;
	}

	.form__label {
		cursor: pointer;
	}

	.form__label--radio:hover,
	.form__label--checkbox:hover {
		font-weight: bold;
	}

	.form__button {
		position: relative;
		transition: 0.5s;
		font-size: 1.1em;
	}

	.form__button:after {
		content: '»';
		position: absolute;
		opacity: 0;
		top: 1em;
		right: -1em;
		transition: 0.5s;
	}

	.form__button:hover {
		padding-right: 3em;
		padding-left: 1em;
	}

	.form__button:hover:after {
		opacity: 1;
		right: 1em;
	}
}