.seminar-slider {
	grid-area: seminar-slider;
	position: relative;
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#seminars {
	text-align: center;
	font-size: 1.3em;
}

#cards-friday,
#cards-saturday,
#cards-sunday {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 100%;
}

.seminar-slides {
	padding-top: 5em;
	height: 100%;
}

.seminar-slides>label {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	user-select: none;
	color: var(--text-color-dark);
	font-size: 1.2em;
	padding: 0 0.2em;
}

.friday-seminars {
	top: 7em;
	left: 20%;
	transform: translate(-40%);
}

.saturday-seminars {
	top: 7em;
	left: 50%;
	transform: translate(-50%);
}

.sunday-seminars {
	top: 7em;
	left: 80%;
	transform: translate(-40%);
}

input:focus+label {
	font-weight: bold;
}

input+label+div {
	overflow: hidden;
	visibility: hidden;
	max-height: 0;
}

input+label+div * {
	opacity: 0;
}

input {
	visibility: hidden;
}

input:checked+label {
	font-weight: bold;
	border-bottom: 2px solid var(--text-color-dark);
}

input:checked+label+div {
	max-height: fit-content;
	visibility: visible;
	opacity: 1;
	transition: all 0.8s ease;
}

input:checked+label+div * {
	opacity: 1;
	transition: all 0.8s ease;
}

.seminar-card {
	max-width: 25em;
	min-height: 25em;
	max-height: 25em;
	background-color: var(--text-container-background);
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.seminar-card>div {
	height: 150px;
	width: 100%;
	object-fit: cover;
	text-align: center;
}

/* .seminar-card>img {
	height: 150px;
	width: 100%;
	text-align: center;
} */

.seminar-card>div>img {
	height: 150px;
	width: 150px;
}

.seminar-card>.seminar-description>h5 {
	font-size: 1.2em;
	margin: 0.5em 0;
	text-align: center;
}

@media screen and (min-width: 600px) {
	.seminar-slides>label {
		font-size: 1.3em;
	}

	.friday-seminars {
		left: 30%;
		transform: translate(-70%);
	}

	.saturday-seminars {
		left: 50%;
		transform: translate(-50%);
	}

	.sunday-seminars {
		left: 70%;
		transform: translate(-30%);
	}

	.seminar-card {
		padding: 1em;
		margin: 1em 1em;
	}
}

@media screen and (min-width: 800px) {
	#seminars {
		font-size: 1.9em;
	}
}

@media screen and (min-width: 1200px) {
	.seminar-slides>label:hover {
		font-weight: bold;
	}
}

@media screen and (min-width: 1400px) {
	.seminar-slides {
		padding-top: 8em;
	}

	.friday-seminars {
		top: 9em;
	}

	.saturday-seminars {
		top: 9em;
	}

	.sunday-seminars {
		top: 9em;
	}
}