.seminar-container {
	grid-area: seminar-container;
	position: relative;
	padding-top: 5em;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#seminar-heading {
	text-align: center;
	font-size: 1.3em;
}

.card-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	max-width: 100%;
}

.toggle {
	padding-top: 5em;
	height: 100%;
}

.toggle__label {
	cursor: pointer;
	display: inline-block;
	position: absolute;
	user-select: none;
	color: var(--text-color-dark);
	font-size: 1.2em;
	padding: 0 0.2em;
}

.toggle__label--friday {
	top: 7em;
	left: 20%;
	transform: translate(-40%);
}

.toggle__label--saturday {
	top: 7em;
	left: 50%;
	transform: translate(-50%);
}

.toggle__label--sunday {
	top: 7em;
	left: 80%;
	transform: translate(-40%);
}

.toggle__input:focus+.toggle__label {
	font-weight: bold;
}

.toggle__input+.toggle__label+.card-container {
	overflow: hidden;
	visibility: hidden;
	max-height: 0;
}

.toggle__input+.toggle__label+.card-container * {
	opacity: 0;
}

.toggle__input {
	visibility: hidden;
}

.toggle__input:checked+.toggle__label {
	font-weight: bold;
	border-bottom: 2px solid var(--text-color-dark);
}

.toggle__input:checked+.toggle__label+.card-container {
	max-height: fit-content;
	visibility: visible;
	opacity: 1;
	transition: all 0.8s ease;
}

.toggle__input:checked+.toggle__label+.card-container * {
	opacity: 1;
	transition: all 0.8s ease;
}

.toggle__input:focus+.toggle__label {
	font-weight: bold;
}

.card {
	max-width: 25em;
	min-height: 25em;
	max-height: 25em;
	background-color: var(--text-container-background);
	box-shadow: 0 10px 20px -8px var(--text-color-dark);
	border-radius: 1em;
	padding: 1em;
	margin: 1em 0;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.card__image {
	height: 150px;
	width: 200px;
	object-fit: cover;
	text-align: center;
}

.card__heading {
	font-size: 1.2em;
	margin: 0.5em 0;
	text-align: center;
}

.card__time-and-place {
	margin-top: 1em;
	display: flex;
	justify-content: space-around;
	width: 100%;
}

@media screen and (min-width: 600px) {
	.toggle__label {
		font-size: 1.3em;
	}

	.toggle__label--friday {
		left: 30%;
		transform: translate(-70%);
	}

	.toggle__label--saturday {
		left: 50%;
		transform: translate(-50%);
	}

	.toggle__label--sunday {
		left: 70%;
		transform: translate(-30%);
	}

	.card {
		padding: 1em;
		margin: 1em 1em;
	}
}

@media screen and (min-width: 800px) {
	#seminar-heading {
		font-size: 1.9em;
	}
}

@media screen and (min-width: 1200px) {
	.toggle__label:hover {
		font-weight: bold;
	}
}

@media screen and (min-width: 1400px) {
	.toggle {
		padding-top: 8em;
	}

	.toggle__label--friday {
		top: 9em;
	}

	.toggle__label--saturday {
		top: 9em;
	}

	.toggle__label--sunday {
		top: 9em;
	}
}